<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{{rootPath}}}css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}} - Receitas</title>
</head>
<body>
    <header>
        <div class="title" id="topo">
            <h1>Receitas</h1>
            <p>Um lugar onde eu compartilhos as receitas que aprendo por aí</p>
        </div>
  
    </header>
    <div class="nav-outer">
        <nav><a href="{{{rootPath}}}index.html">Mais Receitas</a>
        <a href="https://algumcorrupto.github.io/IFF-depressao">Meu Blog</a></nav>
    </div>
    {{{corpo}}}
</body>
</html>
